{% extends 'base.html' %}

{% block content %}
<div class="container">
<!--  <h2>{{ product['title'] }}</h2>-->
<!--  <p>Description: {{ product['description'] }}</p>-->
<!--  <p>Price: {{ product['price'] }}</p>-->
  <!-- Add more details as needed -->

  <img src="wmgzon\static\product_images\{{ product['image_filename'] }}" class="card-img-top" alt="product">
  <h5 class="card-title">{{ product['title'] }}</h5>
  <p class="card-text">{{ product['description'] }}</p>
  <p class="card-text">{{ product['price'] }}</p>
  <p class="card-text">wmgzon\static\product_images\{{ product['image_filename'] }}</p>
  <p class="card-text">{{ product['username'] }}</p>
</div>
{% endblock %}