{% extends 'base.html' %}

{% block content %}
<div class="container">
<!--  <h2>{{ product['title'] }}</h2>-->
<!--  <p>Description: {{ product['description'] }}</p>-->
<!--  <p>Price: {{ product['price'] }}</p>-->
  <!-- Add more details as needed -->

  <img src="wmgzon\static\product_images\{{ product['image_filename'] }}" class="card-img-top" alt="product">
  <h5>{{ product['title'] }}</h5>
  <p></p>
  <p>{{ product['description'] }}</p>
  <p>{{ product['price'] }}</p>
  <p>wmgzon\static\product_images\{{ product['image_filename'] }}</p>
  <p>{{ product['username'] }}</p>
</div>
{% endblock %}