{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="static/style.css">
<div class="container-fluid">

  <div class="row">
    <!-- Vertical Navbar -->
    <nav class="col-md-2 d-flex flex-column bg-light text-dark">
      <h5 class="my-3">Navbar</h5>
      <a href="{{ url_for('adminpage.admin_home') }}" class="nav-link">Admin Home</a>
      <a href="{{ url_for('adminpage.view_products_admin') }}" class="nav-link">Products Admin</a>
    </nav>

    <div style="margin-bottom: 10px;">
      <h1> Create a product</h1>
      <form method="post" enctype=multipart/form-data style="margin-left: 20px;">
        <div style="margin-bottom: 10px;">
          <label for="title">Title:</label><br>
          <input type="text" id="title" name="title" value="{{ request.form['title'] }}" required>
        </div>

        <div style="margin-bottom: 10px;">
          <label for="price">Price:</label><br>
          <input type="text" id="price" name="price" value="{{ request.form['price'] }}" required>
        </div>
        <div style="margin-bottom: 10px;">
        </div>


        <div style="margin-bottom: 10px;">
          <label for="description">Description:</label><br>
          <textarea id="description" name="description" rows="4" cols="50">{{ request.form['description'] }}</textarea>
        </div>

        <div style="margin-bottom: 10px;">
          <label for="image">Image:</label><br>
          <input type="file" id="image" name="image" accept="image/*">
        </div>

        <div style="margin-bottom: 10px;">
          <label for="category">Category:</label><br>
          <select id="category" name="category">
            <option value="grocery" {% if request.form['category'] == 'grocery' %} selected {% endif %}>Grocery</option>
            <option value="electrics" {% if request.form['category'] == 'electrics' %} selected {% endif %}>Electrics</option>
            <option value="toys" {% if request.form['category'] == 'toys' %} selected {% endif %}>Toys</option>
          </select>
        </div>


        <div style="margin-bottom: 10px;">
          <label for="stock">Enter the amount of stock:</label><br>
          <input type="number" id="stock" name="stock" value="{{ request.form['stock'] }}" required>
        </div>
        <div>
          <input type="submit" value="Save">
        </div>

      </form>
    </div>
  </div> <!-- End of Row -->
</div> <!-- End of Container -->


{% endblock %}