{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="static/style.css">

<div class="button-container">
    <!-- Welcome Label -->
    <div class="label">
        Welcome to the Admin Page
    </div>

    <!-- Button Row -->
    <div class="button-row">
        <!-- Button 1: View All Data -->
        <div class="button" onclick="window.location.href='#'">
            View All Data
        </div>

        <!-- Button 2: Add a Product -->
        <div class="button" onclick="window.location.href= `{{ url_for('adminpage.create_product') }}`">
            Add a Product
        </div>

        <!-- Button 3: See All Products as Admin -->
        <div class="button" onclick="window.location.href= `{{ url_for('adminpage.view_products_admin') }}`">
            See All Products
        </div>
    </div>
</div>

{% endblock %}

