{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <div class="row">

      <nav class="col-md-2 d-flex flex-column bg-light text-dark">
          <h5 class="my-3">Navbar</h5>
          <a href="#" class="nav-link">Link hubada skubada1</a>
          <a href="#" class="nav-link">Link 2</a>
          <a href="#" class="nav-link">Link 3</a>
      </nav>

    <!-- content area -->
      <div class="col-md-10">
        <div class="main-content">
          {% block admin_content %}
          {% endblock %}
        </div>
      </div>
  </div>
</div>
{% endblock %}

